//////////////////////////////////////////////////////
// settings for forty planet template/theme pack

$font-family:  Helvetica, sans-serif;

$primary-color: black;


$item-width:      560px;

$item-border-color: #e1e8ed;   // light grey-ish color
$item-body-color: #222222;     // black-ish color

