

body {
  font-family: sans-serif;
}  

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

h1 {
  text-align: center;
}


.item {
  padding: 10px;
  border: 1px solid #e1e8ed;   /* light grey-ish color */
  width: 560px;
  /* todo/fix: merge borders how ?? */
}


.feed {
} 

.feed-title   {
  font-weight: bold;
}

.feed-title .feed-handle,
.feed-title .item-timestamp {
  font-size: 12px; color: grey;
  font-weight: normal;
}


.item-title {
}

.item-body {
  display: inline-block;
  color: #222222;  /* grey-ish color - check why not working - try w/ inline-block for span ??? */
}


/* note: has no links for now; text gets "sanitized" 
.item-body a,
.item-body a:visited {
  border-bottom: 1px dotted #666666;
}

.item-body a:hover {
  border-bottom: 1px solid #666666;
}
*/



