

body {
  font-family: sans-serif;
}  

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

h1 {
  text-align: center;
}


.feed {
} 

.feed-title   {
  font-weight: bold;
}

.feed-title .feed-handle,
.feed-title .item-timestamp {
  font-size: 12px; color: grey;
}


.item-title {
}
.item-body {
  display: inline-block;
  color: #222222;
}

.item-body p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* note: has no links for now; text gets "sanitized" 
.item-body a,
.item-body a:visited {
  border-bottom: 1px dotted #666666;
}

.item-body a:hover {
  border-bottom: 1px solid #666666;
}
*/



